.language-switch {
    display: flex;
    /* background-color: rgb(0, 0, 0); */
    border-radius: 5dvh;
    /* right: 10dvh; */
    gap: 2dvh;
    align-items: center;
    justify-content: center;
    padding: 1dvh;
    /* position: absolute; */
    /* top: 10dvh; */
    width: 15dvh;
  }
  
  .flag {
    width: 6dvh;
    height: 6dvh;
    border-radius: 1dvh;
    cursor: pointer;
  }
  
  .flag:hover {
    transform: scale(1.05);
  }
  
  .flag.activeFlag {
    border: 0.5dvh solid #3cff00;
    border-radius: 5dvh;
  }

  .flag.inactiveFlag {
    filter: grayscale(100%);
    opacity: 0.6;
  }